@import url("https://fonts.googleapis.com/css?family=Roboto_thin:100,100i,300,300i,400,400i,500,500i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto_thick:700,700i,900,900i&display=swap");
.select-control {
  position: relative;
  z-index: 1000;
  width: 100%;
  height: 40px;
  cursor: pointer;
}
.select-control .left-icon {
  padding-right: 10px;
}
.select-control .select-icon-up.closed,
.select-control .select-icon-down.closed {
  display: none !important;
}
.select-control .select-icon-up,
.select-control .select-icon-down {
  display: block;
}
.select-control .select-button {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  text-align: left;
  border: 2px solid #e6e6e6;
  outline: none;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0 10px;
  box-sizing: border-box;
  transition: 0.3s ease;
  overflow: hidden;
}
.select-control .select-button select {
  flex: 1;
  height: 100%;
  outline: none;
  border: none;
  font-family: "Roboto_thick", sans-serif;
  cursor: pointer;
}
.select-control .select-button select:focus {
  outline: none;
}
.select-control .select-button input.disabled {
  cursor: not-allowed !important;
  background-color: #ffffff;
}
.select-control .select-button i {
  margin-bottom: 2px;
  display: block;
}
.select-control .select-button:focus, .select-control .select-button:focus-within {
  border-color: #1F96F5;
}
.select-control .select-button:hover {
  border-color: #1F96F5;
}
.select-control .select-button.secondary:hover {
  border-color: #fb9678;
}
.select-control .select-button.secondary:focus-within {
  border-color: #fb9678;
}
.select-control .select-button.disabled:hover,
.select-control .select-button.disabled:focus {
  border-color: rgba(0, 0, 0, 0.1) !important;
}
.select-control > * {
  font-family: "Roboto_thin", sans-serif;
}
.select-control .select-error-text {
  margin-top: 5px;
  color: #da2124;
}
.select-control ul {
  position: absolute;
  width: 100%;
  top: 100%;
  left: 0;
  right: 0;
  max-width: 600px;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: gray;
  background-color: #ffffff;
  max-height: 350px;
  overflow-y: auto;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
  transition: 0.3s ease;
  visibility: visible;
  opacity: 1;
  /* width */
  /* Handle */
}
.select-control ul::-webkit-scrollbar {
  width: 3px;
}
.select-control ul::-webkit-scrollbar-thumb {
  background: #e6e6e6;
  border-radius: 10px;
}
.select-control ul li {
  display: block;
  padding: 12px 10px;
  font-size: 14px;
  font-family: "Roboto_thin", sans-serif;
}
.select-control ul li:hover {
  cursor: pointer;
  background-color: #fb9678;
  color: #ffffff;
}
.select-control ul.closed {
  visibility: hidden;
  opacity: 0;
  height: 0;
  border: none;
}

.select-control.error .select-button {
  border-color: #da2124;
}
.select-control.error .select-button input {
  color: #da2124;
}

.select-control.small {
  height: 25px;
}
.select-control.small .select-button {
  font-size: 12px;
}
.select-control.small ul {
  max-height: 300px;
}
.select-control.small ul li {
  padding: 5px 10px;
  font-size: 12px;
}

.select-control.large {
  height: 55px;
}
.select-control.large .select-button {
  font-size: 18px;
}
.select-control.large ul {
  max-height: 600px;
}
.select-control.large ul li {
  padding: 10px;
  font-size: 17px;
}

/*# sourceMappingURL=Select.css.map */
