@import url('https://fonts.googleapis.com/css?family=Roboto_thin:100,100i,300,300i,400,400i,500,500i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto_thick:700,700i,900,900i&display=swap');

$secondary-font : 'Roboto_thick', sans-serif;
$primary-font : 'Roboto_thin', sans-serif;
$style-font: 'Roboto_thin', sans-serif;

$default-font-size: 16px;

$primary-color: #1F96F5;
$secondary-color: #fb9678;
$back-color: #F4FAFF;


$white-color: #ffffff;
$black-color: #101010;


$fade-color-1: #707070;
$fade-color-2: #D8D8D8;


$success-color: #49B26D;
$danger-color: #da4e6a;
$warning-color: #ee7511;
$info-color: #1169ee;