.summaryList{
    border-top-style: solid;
      border-top-width: 1px;
      border-top-color: #e6e6e6;
      padding: 20px;
  }
  
  .fin-service{
    width: 25px;
    padding-left: 15px;
    height: 15px;
  }
  
  .lock-icon{
    width: 25x;
    padding-left: 15px;
    height: 15px;
    padding-bottom: 10px
  }
  
  .security-text{
    padding-left: 20px;
    font-size: .6875rem;
    color:    #4a4a4a;
    opacity: .4;
  }
  
  .summaryList-up{
      border-top-style: solid;
      border-top-width: 1px;
      border-top-color: #e6e6e6;
      padding-left: 10px;
      padding-right: 10px;
  }
  
  .total-text{
    font-size: 1rem;
    
  }
  
  .h50{
    width: 50%;
    font-size: .875rem;
    font-weight: 700;
  }
  
  .brec{
    font-size: .75rem;
    padding-top: 50px;
  }
  
  .brep{
    font-weight: 700;
    font-size:  .75rem;
    top: 50px;
    color: #fb9678;
  }
  
