@import url("https://fonts.googleapis.com/css?family=Roboto_thin:100,100i,300,300i,400,400i,500,500i&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto_thick:700,700i,900,900i&display=swap");
.help-card {
  height: 200px;
  cursor: pointer;
}
.help-card > * {
  color: #999999;
}
.help-card:hover > * {
  color: #1F96F5;
}
.help-card .help-text {
  margin-top: 20px;
  font-size: 20px;
}

.sideBar {
  position: fixed;
  width: 250px;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: #1F96F5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.sideBar .brand {
  text-align: center;
  padding: 15px 20px;
  box-sizing: border-box;
  font-size: 25px;
  font-weight: 600;
  color: white;
  background-color: #F4FAFF;
  border-top: 5px solid #1F96F5;
}
.sideBar .support {
  margin: 20px auto;
  text-align: center;
  padding: 15px 20px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  min-width: 100px;
  background-color: #054476;
  border-radius: 40px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sideBar .support .icon {
  margin-right: 5px;
}
.sideBar ul {
  padding: 0;
  margin: 0;
  margin-top: 80px;
}
.sideBar ul li {
  list-style: none;
  display: flex;
  padding: 15px 20px;
  font-weight: 500;
  color: white;
  font-family: "Roboto_thick", sans-serif;
  font-size: 13px;
  transition: 0.5s ease;
  border-left: 2px solid transparent;
}
.sideBar ul li .icon {
  margin-right: 20px;
}
.sideBar ul li:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.2);
}
.sideBar ul li.active {
  border-color: #fb9678;
  background-color: rgba(0, 0, 0, 0.5);
}

.dashboard-main {
  width: 100%;
  min-height: 100vh;
  background-color: #F4FAFF;
}
.dashboard-main .mainContainer {
  position: fixed;
  left: 250px;
  bottom: 0;
  top: 0;
  right: 0;
  overflow-y: auto;
}
.dashboard-main .mainContainer .contentMain {
  position: absolute;
  top: 80px;
  padding: 20px;
  box-sizing: border-box;
  bottom: 0;
  left: 0;
  right: 0;
}
.dashboard-main .mainContainer .contentMain .ant-pagination, .dashboard-main .mainContainer .contentMain .ant-table-pagination {
  padding: 0 20px;
}

.faq-main {
  box-shadow: 0 5px 10px #f5f5f5;
  border-radius: 5px;
  overflow: hidden;
  margin-bottom: 10px;
  padding: 0 !important;
}
.faq-main .title-content {
  padding: 10px 15px;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  font-size: 15px;
  color: #1F96F5;
  cursor: pointer;
  height: 100%;
}
.faq-main ul {
  margin-top: 10px;
  list-style: none;
}

.navbar {
  position: fixed;
  height: 80px;
  left: 250px;
  z-index: 10;
  right: 0;
  background-color: #F4FAFF;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 0 20px;
  border-top: 5px solid #1F96F5;
}
.navbar .search_input {
  height: 30px;
}
.navbar .search_input input {
  background-color: #F4FAFF;
}
.navbar .battery-guage {
  width: 60px;
  height: 60px;
  margin-left: 20px;
  position: relative;
}
.navbar .battery-guage img {
  width: 100%;
  transform: rotateZ(90deg);
  margin-top: 7px;
}
.navbar .battery-guage .guage-meter {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 11px;
  transform: translate(-50%, -50%);
}

.img-con {
  margin: 0 10px;
  width: 50px;
  height: 50px;
  background-color: #e3e3e3;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-con img {
  width: 100%;
  height: 100%;
}

.dashboard-heading {
  font-family: "Roboto_thick", sans-serif;
  font-size: 25px;
}

.dashboard-heading-2 {
  font-family: "Roboto_thick", sans-serif;
  font-size: 20px;
}

/*# sourceMappingURL=dashboard.css.map */
